# Credenciais
.env
.env.*
!.env.example

# Api em .NET
**/bin/
**/obj/
*.user
*.suo

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

_cp_compare/
.publish/